WindowsFormsApp1/WindowsFormsApp1/bin/Debug/WindowsFormsApp1.exe
WindowsFormsApp1/WindowsFormsApp1/bin/Debug/WindowsFormsApp1.exe.config
WindowsFormsApp1/WindowsFormsApp1/bin/Debug/WindowsFormsApp1.pdb
WindowsFormsApp1/WindowsFormsApp1/obj/Debug/.NETFramework,Version=v4.6.1.AssemblyAttributes.cs
WindowsFormsApp1/WindowsFormsApp1/obj/Debug/DesignTimeResolveAssemblyReferences.cache
WindowsFormsApp1/WindowsFormsApp1/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
WindowsFormsApp1/WindowsFormsApp1/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
WindowsFormsApp1/WindowsFormsApp1/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
WindowsFormsApp1/WindowsFormsApp1/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
WindowsFormsApp1/WindowsFormsApp1/obj/Debug/WindowsFormsApp1.csproj.AssemblyReference.cache
WindowsFormsApp1/WindowsFormsApp1/obj/Debug/WindowsFormsApp1.csproj.CoreCompileInputs.cache
WindowsFormsApp1/WindowsFormsApp1/obj/Debug/WindowsFormsApp1.csproj.FileListAbsolute.txt
WindowsFormsApp1/WindowsFormsApp1/obj/Debug/WindowsFormsApp1.csproj.GenerateResource.cache
WindowsFormsApp1/WindowsFormsApp1/obj/Debug/WindowsFormsApp1.csprojAssemblyReference.cache
WindowsFormsApp1/WindowsFormsApp1/obj/Debug/WindowsFormsApp1.exe
WindowsFormsApp1/WindowsFormsApp1/obj/Debug/WindowsFormsApp1.Form1.resources
WindowsFormsApp1/WindowsFormsApp1/obj/Debug/WindowsFormsApp1.pdb
WindowsFormsApp1/WindowsFormsApp1/obj/Debug/WindowsFormsApp1.Properties.Resources.resources
